<div class="context_wrapper">
	<div class="context_wrapper_title">
		Excerpt from <%= c[3] %><br>
	</div>
	<div class="context_wrapper_text">
		...<%= c[0] %><%= c[1] %><%= c[2] %>...
	</div>
</div>