<div="context_wrapper">
	<div="context_wrapper_title">
		Excerpt from [book name]	
	</div>
	<div ="context_wrapper_text">
		<%= c[0] %><br />
		<%= c[1] %><br />
		<%= c[2] %><br />
	</div>
</div>