<div id="searchword">
	Your context query <b><%= @query %></b> returned <%= @contexts_size %> results. <%= link_to "Try another word?", :controller => :home %>
</div>
<div id="contexts">
	<% for c in @contexts%>
		<%= render :partial => "context", :locals => {:c => c} %>
	<% end %>
</div>
