<div id="home_contents">
	<div id="logo"></div>
	<div id="vocab_searchbox">
		<% form_tag(search_path, :method => "get") do %>
		  <%= text_field_tag(:word, "Type in a vocabulary word!", {:size => 25, :class => "search_field"}) %>
		  <%= submit_tag "", :class => "search_button" %>
		<% end %>
	</div>
	<div id="play">
		Or give yourself a quick vocab review? You can <%= link_to "create your own", new_wordlist_path %> or choose from some of our premade wordlists.
		<br>
		<% for a in @wordlists %>
			<%= link_to a.name, a %>
		<% end %>
	</div>
</div>